
<%= erb :searchForm %> 

<h2 class = "mb-3 text-center"><%= current_user.name %>の単語帳</h2>

<% if @words===[] %>
	<p class ="text-center">There's no word.</p>
	<p class ="text-center">まずは検索から！</p>

<% else %>
	<div class="d-flex flex-wrap"> 
		<% @words.each do |word| %>
			<div class="post m-2">
				<div id="accordion" role="tablist">
				  <div 
					class="card everyone-post"
					style = "
					<% if word.important == true %>
						background-color:#FFFF99;
					<% end %>
					"
					>
				    <div class="card-body row" role="tab" id="headingOne">
				      <a class ="col-6"  data-toggle="collapse" href="#collapseOne<%= word.id %>" 
				    aria-expanded="false" aria-controls="collapseOne<%= word.id %>">
					      <h5 class="mb-0 text-center">
					          <%= word.word %>
					      </h5>
				      </a>
				      <form class = "col-3" action = "/<%= word.id %>/important" method = "post">
				      		<input type="submit" value = "&#xf005" class = "far" alt = "お気に入り">
				      </form>
				      <form class = "col-3" action = "/<%= word.id %>/delete" method = "post">
				      	<input type="submit" value = "&#xf2ed" class = "far">
				      		<!--<i class="far fa-trash-alt"></i>	-->
				      </form>
				    </div>
				
				    <div id="collapseOne<%= word.id %>" class="collapse" role="tabpanel" aria-labelledby="headingOne">
				      <div class="card-body">
				        <%= word.meaning %>
				      </div>
				    </div>
				  </div>
				</div>	
			</div>
		<% end %>
	</div>
<% end %>


