<% unless current_user.nil? %>
	<h1 class= "text-center m-2">Hello,<%= current_user.name %>!!!</h1>
<% end %>

<div class="first-view center-vertical">
  <form action = "/search" method = "get" class = "mt-3">
  	  <div class = "input-group cp_iptxt">
  	  	<div class="cp_iptxt">
  	      <input class = "form-control input-lg ef" type = "text" name = "searchWord" placeholder = "英単語を入力">
          <span class="focus_line"><i></i></span>	
  	  	</div>
  	  	  <button class = "btn btn-primary" type = "submit"><i class="fas fa-search"></i></button>
  	  </div>
  </form>
</div>

<% if @word.nil? && @gooMeanings.nil? %>
	<h2>みんなの投稿</h2>
	<% if Word.all===[] %>
		<p>投稿がありません</p>
	<% else %>
		<div class="d-flex flex-wrap"> 
			<% Word.all.each do |word| %>
				<div class="post m-2">
					<div id="accordion" role="tablist">
					  <div class="card">
					    <div class="card-header" role="tab" id="headingOne">
					      <h5 class="mb-0">
					        <a data-toggle="collapse" href="#collapseOne<%= word.id %>" aria-expanded="false" aria-controls="collapseOne<%= word.id %>">
					          <%= word.word %>
					        </a>
					      </h5>
					    </div>
					
					    <div id="collapseOne<%= word.id %>" class="collapse" role="tabpanel" aria-labelledby="headingOne">
					      <div class="card-body">
					        <%= word.meaning %>
					      </div>
					    </div>
					  </div>
					</div>	
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>


<% if @word %>
    <h2 class = "text-center m-2"><%= @word %>の検索結果</h2>    
<% end %>

<div class = "row">
	
    <div class = "col-6 p-4">
		<% if @gooMeanings %>
			<div class="list-group">
			  <h3 class="list-group-item list-group-item-danger text-center">goo辞書</h3>
			</div>
		    <% count = 0 %><%# 品詞のインデックスの初期化%>
			<% @gooMeanings.each do |meaning| %>
				<% if meaning.chr === "1" %><%# 違う品詞に移り変わる時(1文字目が1だったら)%>
					<%= @gooSpeeches[count] %><%# その品詞名を表示%>
					<% count += 1 %><%# 品詞インデックスを1足す%>
				<% end %>
			
			    <p><%= meaning %></p>
			    
			    <% unless current_user.nil? %>
					<form class = "col-md-offset-1" action = "/save" method = "POST">
			    		<input type="hidden" value="<%= @word %>" name="searchWord">
						<input type="hidden" value="<%= meaning %>" name="meaning">
	
		                <button class = "form-group col-lg-4 btn btn-success" type = "submit">保存</button>
				    </form>
				<% end %>
			    
	        <% end %>
			
		<% end %>
	</div>
	
	<div class = "col-6 p-4">
		<% if @enHackMeanings %>
		    <div class="list-group">
			  <h3 class="list-group-item list-group-item-primary text-center">enHack英英辞典</h3>
			</div>   
		    <% count = 0 %><%# 品詞のインデックスの初期化%>
			<% @enHackMeanings.each_with_index do |enHack,i| %>
				<% if @enHackNumbers[i] === "1" %><%# 違う品詞に移り変わる時%>
					<%= @enHackSpeeches[count] %><%# その品詞名を表示%>
					<% count += 1 %><%# 品詞インデックスを1足す%>
				<% end %>
				<p><%= @enHackNumbers[i] %></p>
			    <p><%= enHack %></p>
			    
			    <% unless current_user.nil? %>
					<form class = "col-md-offset-1" action = "/save" method = "POST">
			    		<input type="hidden" value="<%= @word %>" name="searchWord">
						<input type="hidden" value="<%= enHack %>" name="meaning">
	
		                <button class = "form-group col-lg-4 btn btn-success" type = "submit">保存</button>
				    </form>
				<% end %>
				
	        <% end %>
		<% end %>
	</div>
</div>
    