<head>
	<%# favicon%>
	<link rel = "shortcut icon" href = "favicon.ico">
</head>

<%= erb :searchForm %> 

<% if @word.nil? && @gooMeanings.nil? %><%# 検索してなかったら%>
	<h2 class = "text-center">みんなの投稿</h2>
	<% if Word.all===[] %>
		<p>投稿がありません</p>
	<% else %>
		<% Word.all.each do |word| %>
			<div class="post m-2 d-inline-block">
				<div id="accordion" role="tablist">
				  <div class="card">
				    <a class = "everyone-post" data-toggle="collapse" href="#collapseOne<%= word.id %>" aria-expanded="false" aria-controls="collapseOne<%= word.id %>">
					    <div class="card-header" role="tab" id="headingOne">
						      <h5 class="mb-0">
						          <%= word.word %>
						      </h5>
					    </div>
					</a>
				    <div id="collapseOne<%= word.id %>" class="collapse" role="tabpanel" aria-labelledby="headingOne">
				      <div class="card-body">
				        <%= word.meaning %>
				      </div>
				    </div>
				  </div>
				</div>	
			</div>
		<% end %>
	<% end %>
<% end %>


<% if @word %>
    <h2 class = "text-center m-2"><%= @word %>の検索結果</h2>    
<% end %>

<div class = "row">
	
    <div class = "col-6 p-3">
		<% if @gooMeanings %>
			<div class="list-group">
			  <h3 class="list-group-item list-group-item-danger text-center">goo辞書</h3>
			</div>
			
			<% if @gooMeanings.empty? %>
				<p class="text-center">検索結果がありません</p>
			<% else %>
		    	<% count = 0 %><%# 品詞のインデックスの初期化%>
				<% @gooMeanings.each_with_index do |meaning,i| %>
					<% if @gooNumbers[i] === "1" %><%# 違う品詞に移り変わる時%>
						<%= @gooSpeeches[count] %><%# その品詞名を表示%>
						<% count += 1 %><%# 品詞インデックスを1足す%>
					<% end %>
					
					<div class="card my-2">
					  <div class="card-body">
					    <h4 class="card-title"><%= @gooNumbers[i] %></h4>
					    <p class="card-text">
					      <%= meaning %>
					    </p>
					    <% unless current_user.nil? %>
							<form class = "col-md-offset-1" action = "/save" method = "POST">
					    		<input type="hidden" value="<%= @word %>" name="searchWord">
								<input type="hidden" value="<%= meaning %>" name="meaning">
			
				                <button class = "form-group btn btn-success" type = "submit">保存</button>
						    </form>
						<% end %>
					  </div>
					</div>
		        <% end %>
		    <% end %>
		<% end %>
	</div>
	
	<div class = "col-6 p-3">
		<% if @enHackMeanings %>
		    <div class="list-group">
			  <h3 class="list-group-item list-group-item-primary text-center">enHack英英辞典</h3>
			</div>
			
			<% if @enHackMeanings.empty? %>
				<p class="text-center">検索結果がありません</p>
			<% else %>
			    <% count = 0 %><%# 品詞のインデックスの初期化%>
				<% @enHackMeanings.each_with_index do |enHack,i| %>
					<% if @enHackNumbers[i] === "1" %><%# 違う品詞に移り変わる時%>
						<%= @enHackSpeeches[count] %><%# その品詞名を表示%>
						<% count += 1 %><%# 品詞インデックスを1足す%>
					<% end %>
					
					<div class="card my-2">
					  <div class="card-body">
					    <h4 class="card-title"><%= @enHackNumbers[i] %></h4>
					    <p class="card-text">
					      <%= enHack %>
					      <div class = "mt-1">
					      	<%= @enHackJPs[i] %>
					      </div>
					    </p>
					    <% unless current_user.nil? %>
							<form class = "col-md-offset-1" action = "/save" method = "POST">
					    		<input type="hidden" value="<%= @word %>" name="searchWord">
								<input type="hidden" value="<%= enHack %>" name="meaning">
			
				                <button class = "btn btn-success" type = "submit">保存</button>
						    </form>
						<% end %>
					  </div>
					</div>
		        <% end %>
		    <% end %>
		<% end %>
	</div>
</div>
    